/* 1. IMPORT FONTS (this must be the first rule) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

/* Essential Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content Area - ensures footer stays at bottom */
.main-content {
  flex-grow: 1;
}
